<%- include('../partials/boilerplate') %>

    <h2><%= data.user.username %>'s Routes</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Rating</th>
            <th>Status</th>
            <th>Notes</th>
            <th>Update</th>
            
            <!-- <th>Add to Profile</th> -->
        </tr>
        <% data.routes.map((element) => { %>
            <tr>
                <td>
                    <p class='primary-text'> <%= element.name %> </p>
                </td>
                <td>
                    <%= element.type %>
                </td>
                <td>
                    <%= element.rating %>
                </td>
                <td>
                    <%= element.status %>
                </td>
                <td>
                    <%= element.notes %>
                </td>
                <td>
                    <button class='click primary'>
                        <a class='secondary-text' href='userRoute/edit/<%= element.id %>'>Update</a>
                    </button>
                </td>
            </tr>
        <% }) %>
    </table>  

<%- include('../partials/end') %>