<%- include('../partials/boilerplate') %>
<div class ='profile-name'>
    <h2><%= data.user.username %>'s Routes</h2>
</div>
<div class='profile-row'>
    <% data.routes.map((element) => { %>
            <div class='profile-column relative'>
                <img class='profile-img' src='<%= element.image %>' />
                <div class='overlay'> </div>
                <div class ='absolute'>
                    <h2 class='margin-fix secondary-text'><%= element.name %></h2>
                    <h3 class='margin-fix secondary-text'><%= element.rating %></h2>
                    <div class='row'>
                        <h3 class='margin-fix secondary-text'>Status:</h2>
                        <h4 class='margin-fix secondary-text'><%= element.status %></h2>
                    </div>
                    <h2 class='margin-fix secondary-text'>Notes:</h2>
                    <h5 class='margin-fix secondary-text'><%= element.notes %></h2>
                </div>
            </div>
        <!-- </div> -->
   <% }) %>
</div>    

<%- include('../partials/end') %>