<%- include('../partials/boilerplate') %>

    <h2><%= data.user.username %>'s Routes</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Rating</th>
            
            <!-- <th>Add to Profile</th> -->
        </tr>
        <% data.routes.map((element) => { %>
            <tr>
                <td>
                    <a class='primary' href='/routes/<%= element.id %>'> <%= element.name %> </a>
                </td>
                <td>
                    <%= element.type %>
                </td>
                <td>
                    <%= element.rating %>
                </td>
            </tr>
        <% }) %>
    </table>  
    <table>
        <tr>
            <th>Status</th>
            <th>Notes</th>
        </tr>
        <% data.userRoutes.map((element) => { %>
        <tr>
            <td>
                <%= element.status %>     
            </td>
            <td>
                <%= element.notes %>
            </td>
        </tr>
       <% }) %>
    </table>  

<%- include('../partials/end') %>