<%- include('../partials/boilerplate') %>

<div class='main-column padding'>
    <div class='row'>
        <div class ='main-column'>
            <div class='route-group'>
                <div class='route-name'>
                    <h2><%= userRoute.name %></h2>
                </div>
                <div class='row'>
                    <div class='row'>
                        <h3><%= userRoute.type %></h3>
                    </div>
                    <div class='row'>
                        <h3><%= userRoute.rating %></h3>
                    </div>
                </div>
                <div class='row'>
                    <div class='row'>
                        <h6>Lat: <%= userRoute.latitude %></h3>
                    </div>
                    <div class='row'>
                        <h6>Long: <%= userRoute.longitude %></h3>
                    </div>
                </div>
                <div class='main-column'>
                    <div class='row'>
                        <h3>Status: <%= userRoute.status %></h3>
                    </div>
                    <div class='row'>
                        <h3>Notes: <%= userRoute.notes %></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class ='main-column'>
            <% if(userRoute.image) { %>
                <img class='climb-img' src='<%= userRoute.image %>'>
            <% } %>  
        </div>
    </div>
    <div class='row padding'>
        <button class='click big primary'>
            <a class='secondary-text' href='/user'>Your Climbs</a>
        </button>
        <button class='click big primary'>
            <a class='secondary-text' href='edit/<%= userRoute.id %>'>Edit</a>
        </button>
        <form method="POST" action="/userRoute/<%= userRoute.id %>?_method=DELETE">
            <input class='click big primary' type="submit" value="Delete">
        </form>
    </div>

</div>







<%- include('../partials/end') %>